# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
db.sqlite3

# Django
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# Docker
db_data/

# IDE
.vscode/
.idea/
*.swp
*.swo
